body {
  background-color:pink;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: grey;
  height: 60px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
background-color: indigo;
color: black;
}

section {
font-family: Verdana, Geneva, Tahoma, sans-serif;
flex-flow: row wrap;
}

article {
  display: flex;
}

.card-container {
  display:flex;
}

.card {
  margin: 10px;
  border: 3px solid blue;
  padding: 10px;
}

.card img {
  height: 400px;
}

.card h2 {
  text-align: center;
  color: white;
  background-color: black;
}

.people-container {
  display: flex;
}

.people {
  margin: 10px;
  border: 3px solid blue;
  padding: 10px;
}

.people img {
  height: 400px;
}

.people h2 {
  text-align: center;
  color: white;
  background-color: black;
}
